<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block stylesheet %}
        <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
        <script type="application/javascript" src="/static/js/jquery.js"></script>
        <script type="application/javascript" src="/static/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
